.main {
  margin-top: 50px; <!-- Nav bar -->
}

.fa {
  margin: 0 10px;
}

.items {
  font-size:1.2em;
}

.rowhigh {
  background-color: yellow;
  margin: 200px;
}

.question {
  font-size: 1em;
  padding: 7px;
}

.second_row {
  background-color: whitesmoke;
}

.content {
  margin: 20px 0;
}

.delete_btn {
  
}

.item_text {
  display: inline-block;
  margin: 3px 0;
  color: black;
}

.item_link {
  color: black;
  font-size: 1.2em;
}
