<h1 class="text-center">Interviews</h1>


<% @interviews.each_with_index do |interview, index| %>
<% if index % 2 == 0 %>
    <div class="row items second_row">  
      <% else %>
        <div class="row items"> 
      <% end %>
          <%= link_to interview.company, interview, class: "item_link" %>

      <div class="buttons pull-right">        
      
          <%= link_to edit_interview_path(interview) do %>
            <i class="fa fa-edit fa-2x"></i> 
          <% end %>

          <%= link_to interview, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-close fa-2x"></i> 
          <% end %>
        </div>
      </div>
    <% end %>
<br>

      <%= link_to 'New Interview', new_interview_path, class: "btn btn-default" %>
